#set ($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalServiceUtil"))
#set ($themeDisplay = $request.get('theme-display'))
#set ($currentPlid = $getterUtil.getLong($themeDisplay.get('plid')))
#set ($currentLayout = $layoutLocalService.getLayout($currentPlid))
#set ( $iurl = "/image/image_gallery?uuid=" )

<div class="tos-contact">
  <div class="tos-title">$name.getData()</div>
  <div class="tos-subtitle">$name.title.getData()</div>

  <table>
    <tr>
      <td>
        <table class="tos-contact-list">
          #foreach($org in $name.organization.getSiblings())
            <tr class="tos-contact-position">
              <td colspan="3">
                #if(!$org.position-at.getData().equals(""))
                <div class="tos-contact-position"><br/>$org.position-at.getData() at</div>
                #end

                #set ($layoutId = $getterUtil.getLong($org.getData()))
                #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
                <a href="$org.getUrl()">$layout.getName()</a>
              </td>
            </tr>
          #end
          <tr><td>&nbsp;</td></tr>
          #if(!$name.phone.getData().equals(""))
          <tr>
          	<td width="1px">Phone:<td>
          	<td>$name.phone.getData()</td>
          </tr>
          #end
          #if(!$name.fax.getData().equals(""))
          <tr>
          	<td width="1px">Fax:<td>
          	<td>$name.fax.getData()</td>
          </tr>
          #end
          #if(!$name.mobile.getData().equals(""))
          <tr>
          	<td width="1px">Mobile:<td>
          	<td>$name.mobile.getData()</td>
          </tr>
          #end
          #if(!$name.email.getData().equals(""))
          <tr>
          	<td width="1px">Email:<td>
          	<td><a href="mailto:$name.email.getData()">$name.email.getData()</a></td>
          </tr>
          #end
          #if(!$name.web.getData().equals(""))
          <tr>
          	<td width="1px">Web:<td>
          	<td><a href="$name.web.getData()">$name.web.getData()</a></td>
          </tr>
          #end
        </table>
      </td>
      <td class="tos-logo">
      	<img scr="$name.logo.getData()" />
      </td>
    </tr>
  </table>
  <br/>
  <br/>

      <table class="tos-contacts">
        #if(!$name.contact.getData().equals(""))
        <tr>
          <td colspan="3" class="tos-page-jumpout">Working with ($name.contact.getSiblings().size())</td>
        </tr>
        <tr class="tos-persons">
          <td width="29px" class="tos-icon"><img src="$iurl a0e07086-981d-403b-8967-09b9ffc58f36&groupId=10136&t=1275395720638" /></td>
          <td>
            <table class="tos-list">
            #foreach($cnt in $name.contact.getSiblings())
              #set ($layoutId = $getterUtil.getLong($cnt.getData()))
              #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
              <tr><td class="tos-contact"><a href="$name.contact.getUrl()">$layout.getName()</a></td></tr>
            #end
            </table>
          </td>
        </tr>
        #end
        #if(!$name.organization.getData().equals(""))
        <tr>
          <td colspan="3" class="tos-page-jumpout">Organizations ($name.organization.getSiblings().size())</td>
        </tr>
        <tr class="tos-organizations">
          <td width="29px" class="tos-icon"><img src="$iurl 0ef6825d-3171-41c6-86c5-847bc3a3b378&groupId=10136&t=1275323337438" /></td>
          <td>
            <table class="tos-list">
            #foreach($org in $name.organization.getSiblings())
              #set ($layoutId = $getterUtil.getLong($org.getData()))
              #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
              <tr><td class="tos-organization"><a href="$name.organization.getUrl()">$layout.getName()</a></td></tr>
            #end
            </table>
          </td>
        </tr>
        #end
        #if(!$name.area.getData().equals(""))
        <tr>
          <td colspan="3" class="tos-page-jumpout">Thematic areas ($name.area.getSiblings().size())</td>
        </tr>
        <tr class="tos-areas">
          <td width="29px" class="tos-icon"><img src="$iurl 0ef6825d-3171-41c6-86c5-847bc3a3b378&groupId=10136&t=1275323337438" /></td>
          <td>
            <table class="tos-list">
            #foreach($ar in $name.area.getSiblings())
              #set ($layoutId = $getterUtil.getLong($ar.getData()))
              #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
              <tr><td class="tos-area"><a href="$ar.getUrl()">$layout.getName()</a></td></tr>
            #end
            </table>
          </td>
        </tr>
        #end
        #if(!$name.academic-tool.getData().equals(""))
        <tr>
          <td colspan="3" class="tos-page-jumpout">Academic tools ($name.academic-tool.getSiblings().size())</td>
        </tr>
        <tr class="tos-academic-tools">
          <td width="29px" class="tos-icon"><img src="$iurl 0ef6825d-3171-41c6-86c5-847bc3a3b378&groupId=10136&t=1275323337438" /></td>
          <td>
            <table class="tos-list">
            #foreach($tool in $name.academic-tool.getSiblings())
              #set ($layoutId = $getterUtil.getLong($tool.getData()))
              #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
              <tr><td class="tos-tool"><a href="$tool.getUrl()">$layout.getName()</a></td></tr>
            #end
            </table>
          </td>
        </tr>
        #end
        #if(!$name.industri-tool.getData().equals(""))
        <tr>
          <td colspan="3" class="tos-page-jumpout">Industry tools ($name.industri-tool.getSiblings().size())</td>
        </tr>
        <tr class="tos-company-tools">
          <td width="29px" class="tos-icon"><img src="$iurl 0ef6825d-3171-41c6-86c5-847bc3a3b378&groupId=10136&t=1275323337438" /></td>
          <td>
            <table class="tos-list">
            #foreach($tool in $name.industri-tool.getSiblings())
              #set ($layoutId = $getterUtil.getLong($tool.getData()))
              #set ($layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $currentLayout.isPrivateLayout(), $layoutId))
              <tr><td class="tos-tool"><a href="$tool.getUrl()">$layout.getName()</a></td></tr>
            #end
            </table>
          </td>
        </tr>
        #end
      </table>
      <br />


      <div><span>Last Updated:</span> $reserved-article-modified-date.data</div>
</div>
