<div class="banner-box">
	#set($item_index = 0)

	## Loop all images
	#foreach($image in $images.siblings)

		## Define some properties needed for each image
		#set($link_class = "banner-box-link")

		#if($item_index != 0)
			#set($link_class = "banner-box-link hide")
		#end

		#set($image_target = "")
		#if($image.targetBlank.data == "true")
			#set($image_target = "_BLANK")
		#end

		#if($image.videoId.data == "")
			## Image Gallery
    		<a href="${image.link.data}" class="${link_class} banner-box-item" target="$image_target">
    			<img src="${image.data}" alt="${image.alt.data}" />
    		</a>
		#else
			## Youtube movie
			<div class="banner-box-item movie-box">
    			<div class="movie-ctn" data-videoId="${image.videoId.data}">
                    <a href="#">
						<img src="${image.data}" alt="${image.alt.data}" />
					</a>
    			</div>
			</div>

		#end

		#set($item_index = $item_index + 1)
	#end
</div>
